/* GENERAL */

body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  background-color: #110a11;
  color: #be896f;
  font-family: "Lato", sans-serif;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

/* HEADING + DESCRIPTION */

h1 {
}

.description {
  width: 60vw;
  max-width: 700px;
  min-width: 350px;
}

.time-matter {
  margin-bottom: 15px;
}

/* FORM */

form {
  width: 60vw;
  max-width: 700px;
  min-width: 350px;
  margin: 0 auto;
}

fieldset {
  border: 1px solid #2c2f3a;
  padding: 0 24px 12px;
  margin-bottom: 24px;
}

legend {
  font-weight: bold;
  font-size: 16px;
}

.form-group {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hint {
  text-align: left;
}

.form-question {
  text-align: left;
  margin: 0 16px 0 0;
}

input,
textarea,
select {
  background-color: #e0b99a;
  color: #110a11;
  margin: 1em 0;
}

::placeholder {
  color: #110a11;
}

label {
  margin-right: 16px;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  accent-color: #5a87a1;
  margin-right: 4px;
}

/* WORK AND LIFESTYLE */

.form-group.occupation {
  justify-content: start;
}

.form-group.device {
  flex-wrap: wrap;
  margin-top: 1em;
}

.form-question.device {
  flex-basis: 100%;
}

.form-group.screen-breaks {
  flex-wrap: wrap;
  margin-top: 1em;
}

.form-question.screen-breaks {
  flex-basis: 100%;
}

/* BOTTONS */

.button-container {
  display: flex;
  justify-content: center;
}

button {
  background-color: #5a87a1;
  color: #110a11;
}
